

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background: #f9f9f9;
			color: #333;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 20px;
		}
		
		a {
			text-decoration: none;
			color: #337ab7;
			margin-bottom: 10px;
		}
		
		a:hover {
			color: #23527c;
		}
	</style>
</head>
<body>
	Student
	<a href="{% url 'student_view_paymenthistory' %}">Payment History</a>
	<a href="{% url 'logout' %}">Log Out</a>
</body>
</html>

